<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <%- include('../inc/navbar.ejs'); -%>
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae veritatis sint labore et, unde nobis aperiam consequatur quia a nesciunt eius in pariatur alias earum minus quam reiciendis ea deleniti?</p>
</body>
</html>